/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/app/public/audio
/storage/var

rabbitmq
/storage/framework/cache/data
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs
/storage/app/public/essentia_app
/storage/app/public/essentia_streaming_musicnn_pred
/public/packages

/var/
/storage/app/var/
