{
    "openapi": "3.0.3",
    "info": {
        "title": "curator",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://mage.tech:8899/api",
            "description": "Default Environment"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "paths": {
        "/api/songs/search": {
            "post": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SongResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Search for songs",
                "tags": [
                    "Song"
                ]
            }
        },
        "/api/songs/batch": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/Song"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SongResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Create a batch of songs",
                "tags": [
                    "Song"
                ]
            },
            "patch": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/Song"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SongResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Update a batch of songs",
                "tags": [
                    "Song"
                ]
            },
            "delete": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "description": "A list of resource IDs"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SongResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete a batch of songs",
                "tags": [
                    "Song"
                ]
            }
        },
        "/api/songs": {
            "get": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SongResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Get a list of songs",
                "tags": [
                    "Song"
                ]
            },
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Song"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SongResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Create song",
                "tags": [
                    "Song"
                ]
            }
        },
        "/api/songs/{song}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "song",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SongResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Get song",
                "tags": [
                    "Song"
                ]
            },
            "patch": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "song",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Song"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SongResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Update song",
                "tags": [
                    "Song"
                ]
            },
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "song",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SongResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete song",
                "tags": [
                    "Song"
                ]
            }
        },
        "/api/files/search": {
            "post": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FileResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Search for files",
                "tags": [
                    "File"
                ]
            }
        },
        "/api/files/batch": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/File"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FileResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Create a batch of files",
                "tags": [
                    "File"
                ]
            },
            "patch": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/File"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FileResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Update a batch of files",
                "tags": [
                    "File"
                ]
            },
            "delete": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "description": "A list of resource IDs"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FileResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete a batch of files",
                "tags": [
                    "File"
                ]
            }
        },
        "/api/files": {
            "get": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FileResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Get a list of files",
                "tags": [
                    "File"
                ]
            },
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/File"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/FileResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Create file",
                "tags": [
                    "File"
                ]
            }
        },
        "/api/files/{file}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "file",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/FileResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Get file",
                "tags": [
                    "File"
                ]
            },
            "patch": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "file",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/File"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/FileResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Update file",
                "tags": [
                    "File"
                ]
            },
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "file",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/FileResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete file",
                "tags": [
                    "File"
                ]
            }
        },
        "/api/catalogs/search": {
            "post": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CatalogResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Search for catalogs",
                "tags": [
                    "Catalog"
                ]
            }
        },
        "/api/catalogs/batch": {
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/Catalog"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CatalogResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Create a batch of catalogs",
                "tags": [
                    "Catalog"
                ]
            },
            "patch": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/Catalog"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CatalogResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Update a batch of catalogs",
                "tags": [
                    "Catalog"
                ]
            },
            "delete": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "resources": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "description": "A list of resource IDs"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CatalogResource"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete a batch of catalogs",
                "tags": [
                    "Catalog"
                ]
            }
        },
        "/api/catalogs": {
            "get": {
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CatalogResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/ResourceLinks"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/ResourceMeta"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "summary": "Get a list of catalogs",
                "tags": [
                    "Catalog"
                ]
            },
            "post": {
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Catalog"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CatalogResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Create catalog",
                "tags": [
                    "Catalog"
                ]
            }
        },
        "/api/catalogs/{catalog}": {
            "get": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "catalog",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CatalogResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Get catalog",
                "tags": [
                    "Catalog"
                ]
            },
            "patch": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "catalog",
                        "in": "path",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Catalog"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CatalogResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "summary": "Update catalog",
                "tags": [
                    "Catalog"
                ]
            },
            "delete": {
                "parameters": [
                    {
                        "schema": {
                            "type": "integer"
                        },
                        "name": "catalog",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CatalogResource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "summary": "Delete catalog",
                "tags": [
                    "Catalog"
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "schemas": {
            "Song": {
                "title": "Song",
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string",
                        "nullable": true
                    },
                    "analyzed": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "nullable": true
                    },
                    "key": {
                        "type": "string",
                        "nullable": true
                    },
                    "scale": {
                        "type": "string",
                        "nullable": true
                    },
                    "bpm": {
                        "type": "number",
                        "nullable": true
                    },
                    "energy": {
                        "type": "number",
                        "nullable": true
                    },
                    "happy": {
                        "type": "number",
                        "nullable": true
                    },
                    "sad": {
                        "type": "number",
                        "nullable": true
                    },
                    "aggressiveness": {
                        "type": "number",
                        "nullable": true
                    },
                    "danceability": {
                        "type": "number",
                        "nullable": true
                    },
                    "relaxed": {
                        "type": "number",
                        "nullable": true
                    },
                    "path": {
                        "type": "string",
                        "nullable": true
                    },
                    "related_songs": {
                        "type": "string",
                        "nullable": true
                    },
                    "extension": {
                        "type": "string",
                        "nullable": true
                    },
                    "author": {
                        "type": "string",
                        "nullable": true
                    },
                    "comment": {
                        "type": "string",
                        "nullable": true
                    },
                    "source": {
                        "type": "string",
                        "nullable": true
                    },
                    "link": {
                        "type": "string",
                        "nullable": true
                    },
                    "image": {
                        "type": "string",
                        "nullable": true
                    },
                    "genre": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "SongResource": {
                "title": "SongResource",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Song"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "genre": {
                                "type": "string",
                                "nullable": true
                            },
                            "created_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time"
                            },
                            "updated_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time"
                            },
                            "created_by_id": {
                                "type": "integer",
                                "nullable": true
                            },
                            "updated_by_id": {
                                "type": "integer",
                                "nullable": true
                            },
                            "played": {
                                "type": "boolean",
                                "nullable": true
                            },
                            "slug": {
                                "type": "string",
                                "nullable": true
                            },
                            "duration": {
                                "type": "number",
                                "nullable": true
                            },
                            "classification_properties": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    }
                ]
            },
            "ResourceLinks": {
                "title": "ResourceLinks",
                "type": "object",
                "properties": {
                    "first": {
                        "type": "string",
                        "format": "uri"
                    },
                    "last": {
                        "type": "string",
                        "format": "uri"
                    },
                    "prev": {
                        "type": "string",
                        "format": "uri"
                    },
                    "next": {
                        "type": "string",
                        "format": "uri"
                    }
                }
            },
            "ResourceMeta": {
                "title": "ResourceMeta",
                "type": "object",
                "properties": {
                    "current_page": {
                        "type": "integer"
                    },
                    "from": {
                        "type": "integer"
                    },
                    "last_page": {
                        "type": "integer"
                    },
                    "path": {
                        "type": "string"
                    },
                    "per_page": {
                        "type": "integer"
                    },
                    "to": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "File": {
                "title": "File",
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "alternative_text": {
                        "type": "string",
                        "nullable": true
                    },
                    "caption": {
                        "type": "string",
                        "nullable": true
                    },
                    "width": {
                        "type": "integer",
                        "nullable": true
                    },
                    "height": {
                        "type": "integer",
                        "nullable": true
                    },
                    "formats": {
                        "type": "string",
                        "nullable": true
                    },
                    "hash": {
                        "type": "string",
                        "nullable": true
                    },
                    "ext": {
                        "type": "string",
                        "nullable": true
                    },
                    "mime": {
                        "type": "string",
                        "nullable": true
                    },
                    "size": {
                        "type": "string",
                        "nullable": true
                    },
                    "url": {
                        "type": "string",
                        "nullable": true
                    },
                    "preview_url": {
                        "type": "string",
                        "nullable": true
                    },
                    "provider": {
                        "type": "string",
                        "nullable": true
                    },
                    "provider_metadata": {
                        "type": "string",
                        "nullable": true
                    },
                    "created_by_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "updated_by_id": {
                        "type": "integer",
                        "nullable": true
                    }
                }
            },
            "FileResource": {
                "title": "FileResource",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/File"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            }
                        }
                    }
                ]
            },
            "Catalog": {
                "title": "Catalog",
                "type": "object",
                "properties": {
                    "item_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "item_category": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "features_list": {
                        "type": "string",
                        "nullable": true
                    },
                    "published_at": {
                        "type": "string",
                        "nullable": true,
                        "format": "date-time"
                    },
                    "created_by_id": {
                        "type": "integer",
                        "nullable": true
                    },
                    "updated_by_id": {
                        "type": "integer",
                        "nullable": true
                    }
                }
            },
            "CatalogResource": {
                "title": "CatalogResource",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Catalog"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "created_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time"
                            },
                            "updated_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time"
                            }
                        }
                    }
                ]
            }
        }
    },
    "tags": [
        {
            "name": "Song",
            "description": "API documentation for Song"
        },
        {
            "name": "Catalog",
            "description": "API documentation for Catalog"
        },
        {
            "name": "File",
            "description": "API documentation for File"
        }
    ]
}